@model List<Manager>

<div class="row">
    <a class="btn btn-success w-25 btn btn-primary" asp-controller="Managers" asp-action="Create">ახალი მენეჯერი</a>
</div>
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>სასტუმრო</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var manager in Model)
            {
                <tr>
                    <td>@manager.FirstName</td>
                    <td>@manager.LastName</td>
                    <td>@manager.HotelId</td>
                </tr>
            }
        </tbody>
    </table>
</div>