@model Hotel
@{
    ViewData["Title"] = "ახალი სასტუმროს დამატება";
}

<h1>Create</h1>

<form asp-controller="Hotels" asp-action="Create" >
    <div class="mb-3">
        <label asp-for="Name">დასახელება</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label asp-for="Rating">რეიტინგი</label>
        <input class="form-control" asp-for="Rating" />
    </div>
    <div class="mb-3">
        <label asp-for="Country">ქვეყანა</label>
        <input class="form-control" asp-for="Country" />
    </div>
    <div class="mb-3">
        <label asp-for="City">ქალაქი</label>
        <input class="form-control" asp-for="City" />
    </div>
    <div class="mb-3">
        <label asp-for="PhyisicalAddress">ფიზ.მისამართი</label>
        <input class="form-control" asp-for="PhyisicalAddress" />
    </div>
    <div class="mb-3">
        <input type="submit" class ="btn btn-success" value="დამატება" />
    </div>
</form>

